.main-top{
    padding: 0;
    background: none;
}
.cl-main{
    padding: 10px;
    background: #fff;
}
.cl-title{
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}
.cl-title span{
    padding-left: 10px;
    color: #3b9c0a;
    font-weight: 900;
}
.cl-titlleInfo{
    margin-top: 20px;
}
.cl-titleimg{
    width: 25%;
    height: 160px;
}
.cl-titleimg img{
    height: 100%;
}
.cl-info{
    width: 60%; 
}
.cl-info p{
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}
.cl-item{
    margin-top: 10px;
}
.cl-head{
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}
.cl-head a{
    padding-left: 10px;
    color: #3b9c0a;
    font-weight: 900;
}
.cl-item-info{
    margin-top: 20px;
}
.cl-item-info a{
    display: block;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.cl-item-info a:hover{
    color: #f00;
}
.cl-item-info p{
    margin-bottom: 10px;
    font-size: 15px;
    color: #666;
    line-height: 24px;
}
.cl-asid{
    background: #fff;
    margin-left: 20px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}
.cl-asid .cl-asidHead{
    height: 40px!important;
    line-height: 20px;
    padding: 10px;
    background: #359704;
    color: #fff;
    font-weight: 900;
}
.cl-asidMain{
    padding: 10px;
}
.cl-asidMain ul li{
    margin-bottom: 10px;
}
.cl-asidMain ul li a{
    color: #666;
}
.cl-asidMain ul li:hover a{
    color: #f00;
}
.cl-asidList li a{
    font-size: 14px;
    color:#3961AD!important;
}