h3,h4{
    margin: 0;
}
.main{
    width: 960px;
    margin: 0 auto;
}
.banner{
    width: 100%;
    margin: 0 auto;
}
.banner img{
    width: 100%;
}
.ol-main{
    background: #fff;
}
.ol-content{
    width: 960px;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
}
.ol-ans{
    width: 690px;
}
.ol-tuijian{
    width: 260px;
}
.ol-ansItem{
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
}
.ol-ansItem h3{
    color: #333;
    font: bold 18px/28px "Microsoft YaHei";
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
}
.ol-ansItemInfo{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 14px;
    position: relative;
}
.ol-ansItemInfo img{
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    overflow: hidden;
    margin-right: 14px;
}
.ol-ansItemInfo span{
    display: block;
    float: left;
    margin-top: 9px;
    color: #666;
    font-weight: bold;
}
.ol-ansItemInfo p{
    width: 50%;
    float: left;
    color: #333;
    font-size: 14px;
    height: 100%;
    line-height: 40px;
    margin-left: 20px;
    margin-bottom: 0;
    overflow: initial;
}
.ol-ansItem h4{
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 900;
    color: #666;
}
.ol-ansListInfo{
    width:90%;
    margin: 0 auto 20px;
    border-bottom: 1px dashed #ccc;
}
.ol-ansListItemInfo img{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 14px;
    border-radius: 3px;
}
.ol-ansListItemInfo span{
    display: inline-block;
    margin-top: 9px;
    color: #666;
    font-weight: bold;
}
.ol-ansListItemInfo p{
    padding-left: 9%;
    color: #999;
}
.ol-des{
    text-align: right;
}
.ol-des span{
    color: #999;
    padding: 0 10px; 
}
.ol-des .btn-answer{
    cursor: pointer;
}

.ol-des .btn-answer:hover{
    color: #175199;
}

.ol-ans .btn-answer{
    cursor: pointer;
}

.ol-ans .btn-answer:hover{
    color: #175199;
}

.ol-tjItem{
    background: #fff;
    /* border: 1px solid #e1e1e1; */
    /* border-radius: 3px; */
    /* -webkit-border-radius: 3px; */
    /* box-shadow: 0 0 5px 0 #e1e1e1; */
    /* -webkit-box-shadow: 0 0 5px 0 #e1e1e1; */
    background: #fff;
    margin-bottom: 10px;
}
.ol-tjItem h3{
    height: 50px;
    border-bottom: 1px solid #f0f2f7;
    color: #333;
    font: bold 16px/50px "Microsoft YaHei";
    position: relative;
    padding-left: 18px;
}
.ol-list{
    padding: 0 15px;
    box-sizing: border-box;
}
.ol-list li{
    padding: 5px 0;
    min-height: 12px;
    position: relative;
    /* padding-left: 10px; */
    color: #999;
}
.ol-list li a{
    color: #175199;
    font-size: 14px;
    line-height: 12px;
}
.el-card{
    box-shadow: none!important;
    border-radius: 0!important;
    border: none!important;
}
.avatar{
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 20px 10px 0px;
    overflow: hidden;
}
.m-listInfo{
    float: left;
    width: 87%;
    position: relative;
    margin-top: 10px;
}
.m-time{
    position: absolute;
    top: 0;
    right: 0;
    color: #8590a6;
}
.m-autorInfo{
    margin-bottom: 10px;
}
.m-autorInfo img{
    width: 20px;
    vertical-align: bottom;
    padding: 0 10px;
}
.bottom{
    text-align: right;
}
.m-reply{
    padding: 20px;
    background: #fff;
}
.m-reply-value{
    width: 90%!important;
    vertical-align: middle!important;
}
.m-reply-btn{
    vertical-align: middle!important;
    margin-left: 10px!important;
}

.eq-img{
    /* width: 100px;
    height: 100px; 11*/
    display: flex;
}

.eq-img img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}