<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/css.css">
    <link rel="stylesheet" href="./css/public.css">
    <script src="./js/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/echarts.min .js"></script>
    <script src="./js/axios.min.js"></script>

    <script src="./js/jquery.cookie.js" type="text/javascript"></script>
    <script src="./js/echartHelper/echartHelper.cube.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/echartHelper/dataHelper.cube.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/expresstool.jquery.js" type="text/javascript"></script>
    <script src="./js/expresstool.js" type="text/javascript"></script>
    <script src="./js/echartHelper/echartHelper.callback.default.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/echartHelper/echartHelper.callback.custom.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/echartHelper/dataTableHelper.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/public.js"></script>
    <title>产品列表</title>
</head>

<body>
    <div id="root" class="authcenter">
        <div class="head">
            <div class="area">
                <div class="login-info">
                    <div class="say-hi">Hi，欢迎来到农情分析</div>
                    <div class="login-link-wrap">
                        请<a rel="nofollow" href="#">登录</a>
                    </div>
                    <div class="codebox">

                    </div>
                </div>
                <ul class="ely-sn-menuwrap">
                    <li class="item menu user-center">
                        <a href="#" target="_blank">
                            会员中心
                        </a>
                    </li>
                </ul>
                <div class="index-link"><a class="clr-red" href="#" title="农情首页">农情首页</a></div>
            </div>

        </div>
        <div style="height: 126px; z-index: 114; position: relative;">
            <div id="ely-hd" class="ely-hd">
                <div class="area clearfix">
                    <div class="logo">
                        <a title="衣联网" class="logo-link" href="#">
                            <img alt="衣联网" src="./image/logo-2.png"></a>
                    </div>
                    <div class="app-link-wrap"><img src="./image/1557654428.png" alt=""><p>扫一扫,下载农情APP</p></div>
                    <div class="search">
                        <el-tabs v-model="SearchName" type="card" @tab-click="searchClick">
                            <el-tab-pane label="采购" name="采购"></el-tab-pane>
                            <el-tab-pane label="供应" name="供应"></el-tab-pane>
                            <el-tab-pane label="农机服务" name="农机服务"></el-tab-pane>
                        </el-tabs>
                        <div class="search-froup">
                            <el-input :placeholder="'请输入关键词搜索'+SearchName" class="search-input">
                            </el-input>
                            <el-button icon="el-icon-search" type="success" class="search-btn">立即搜索</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav-wrap" id="nav">
            <div class="main-nav area clearfix">
                <div class="menu-box-wrap" id="J_good_map">
                    <div class="menu-title"><span class="smap-link">行业分类</span></div>
                    <div class="menu-box clearfix">
                        <div class="source-map" style="overflow: hidden;padding-top: 0px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; display: block;">
                            <div class="m-floor m-floor-first clearfix">
                                <div class="m-f-f-f">
                                    <h2 class="cls">
                                        <i class="female-ico"></i>
                                        <a href="" target="_blank">种植业</a>
                                    </h2>
                                    <div class="f-r-f">
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">蔬菜</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">水果</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-f-f-f">
                                    <h2 class="cls">
                                        <i class="female-ico"></i>
                                        <a href="" target="_blank">畜牧业</a>
                                    </h2>
                                    <div class="f-r-f">
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">蔬菜</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">水果</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-f-f-f">
                                    <h2 class="cls">
                                        <i class="female-ico"></i>
                                        <a href="" target="_blank">农资类</a>
                                    </h2>
                                    <div class="f-r-f">
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">蔬菜</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">水果</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-f-f-f">
                                    <h2 class="cls">
                                        <i class="female-ico"></i>
                                        <a href="" target="_blank">农副加工</a>
                                    </h2>
                                    <div class="f-r-f">
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">蔬菜</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">水果</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-f-f-f">
                                    <h2 class="cls">
                                        <i class="female-ico"></i>
                                        <a href="" target="_blank">渔业</a>
                                    </h2>
                                    <div class="f-r-f">
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">蔬菜</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                        <div class="d-cate clearfix">
                                            <span class="cls-cate">水果</span>
                                            <p>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                                <a href="" title="蔬菜" target="_blank">蔬菜3</a>
                                                <a href="" title="" target="_blank">蔬菜2</a>
                                                <a href="" title="" target="_blank">蔬菜1</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li><a class="link" href="#" target="_blank">首页</a></li>
                    <li><a class="link" href="#" target="_blank">供应</a></li>
                    <li><a class="link" href="#" target="_blank">求购</a></li>
                    <li><a class="link" href="#" target="_blank">农产品价格</a></li>
                    <li><a class="link" href="#" target="_blank">农业服务</a></li>
                </ul>
            </div>
        </div>
        <div class="body-warp" style="padding:20px 0;">
            <div class="area">
                <el-card class="classFiled">
                    <div class="classList">
                        <el-button class="menuBar" icon="el-icon-menu" type="primary">分类</el-button>
                        <ul class="firstMenu">
                            <li :class="item.id == firstActive ? 'active':''" v-for="item in firstMenu" @click="menuClick(1,item.id)">
                                <a href="javascript:;">{{item.label}}</a>
                            </li>
                            <ul class="secendList">
                                <li :class="secend.id == secendActive ? 'active':''" v-for="secend in secendMenu" @click="menuClick(2,secend.id)">
                                    <a href="#">{{secend.label}}</a>
                                </li>
                                <ul class="threeList">
                                    <li v-for="three in threeMenu" :class="three.id == threeActive ? 'active':''" @click="menuClick(3,three.id)">
                                        <a href="#">{{three.label}}</a>
                                    </li>

                                </ul>
                            </ul>
                        </ul>
                    </div>
                    <div class="classList" style="margin-top:20px;">
                        <el-button class="menuBar" icon="el-icon-location" type="primary">区域</el-button>
                        <el-cascader style="margin-left:32px;" :options="options" v-model="selectedOptions3"></el-cascader>
                    </div>
                </el-card>
            </div>
            <div class="area">
                <div class="under-contair">
                    <div style="margin-bottom:20px;">
                        <el-breadcrumb separator-class="el-icon-arrow-right">
                            <el-breadcrumb-item>您现在的位置：</el-breadcrumb-item>
                            <el-breadcrumb-item>产品列表</el-breadcrumb-item>
                        </el-breadcrumb>
                    </div>
                    <div class="conLeft">

                        <ul class="itemLi productList">
                            <li v-for="item in list">
                                <div class="itme_img">
                                    <img src="./image/2016061414464813.jpg" />
                                </div>
                                <div class="gqGongSi">
                                    <a href="" target="_blank">
                                        {{item.title}}
                                    </a>

                                </div>
                                <p>价格：<b class="prices">{{item.prices}}</b>/{{item.unit}}&nbsp;&nbsp;&nbsp;区域：{{item.area}}</p>
                                <p>品牌：<a href="#" target="_blank" class="yanSe_03">{{item.company}}</a></p>
                                <p>浏览量：{{item.volume}}&nbsp;&nbsp;&nbsp;过期时间：{{item.expirationDate}}</p>
                                <p></p>
                                <div class="kaiTong">
                                    <a @click="shoucang(window.location,document.title)" href="javascript:void(0)">[加入收藏夹]</a>
                                </div>

                            </li>
                        </ul>
                        <div class="text-left" style="padding:20px 0;">
                            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="100" layout="prev, pager, next, jumper" :total="1000">
                            </el-pagination>
                        </div>
                    </div>
                    <div class="conRight">
                        <div class="t45">
                            <h3>推荐排行</h3>
                        </div>
                        <div class="rbox2">
                            <div class="hotnewsAd">
                                <div :class="index < 2 ? 'big' :'small'" v-for="(item,index) in recomedList">
                                    <a :href="item.href">
                                        <img :src="item.img" border="0">
                                        <p>{{item.title}}</p><i>{{item.time}}</i><em :class="'b'+(index+1)">{{index+1}}</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pub-footer clearfix">
            <style>
                .down-img a img {
                    margin: 0px;
                }
            </style>
            <div class="con-width-1200 clearfix">
                <img class="fxl l-img" src="./image/logo-2.png">
            </div>
            <div class="down clearfix">
                <!-- Copyright © 2019 黄山现代农业产业园管委会 <span>版权所有</span> -->

            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({ //vue对象
        el: '#root',
        data: {

            selectedOptions3: ['ah', 'hf', 'fx'],
            options: [{
                value: 'bj',
                label: '北京市',
                children: [{
                    value: 'cy',
                    label: '朝阳区',
                }, {
                    value: 'sy',
                    label: '顺义区',
                }]
            }, {
                value: 'ah',
                label: '安徽省',
                children: [{
                    value: 'hf',
                    label: '合肥市',
                    children: [{
                        value: 'fx',
                        label: '肥西县'
                    }]
                }, {
                    value: 'wh',
                    label: '芜湖市',
                }]
            }],
            firstActive: 'sxsg',
            secendActive: 'xj',
            threeActive: '',
            threeMenu: [{
                label: '苹果蕉',
                id: 'xj1',
            }, {
                label: '过山香',
                id: 'xj2',
            }, {
                label: '皇帝蕉',
                id: 'xj3',
            }],

            secendMenu: [{
                label: '香蕉',
                id: 'xj'
            }, {
                label: '葡萄',
                id: 'sxsg'
            }],
            firstMenu: [{
                label: '全部',
                id: 'all'
            }, {
                label: '生鲜水果',
                id: 'sxsg'
            }],

            SearchName: '采购',
            menuActive: '0',
            recomedList: [{
                href: '#',
                img: './image/1620093681.jpg',
                title: '智种网发布：中国种业研发实力报告，科研投入过亿企业仅有5家',
                time: '2017-09-16'
            }, {
                href: '#',
                img: './image/1620093681.jpg',
                title: '智种网发布：中国种业研发实力报告，科研投入过亿企业仅有5家',
                time: '2017-09-16'
            }, {
                href: '#',
                img: './image/1620093681.jpg',
                title: '智种网发布：中国种业研发实力报告，科研投入过亿企业仅有5家',
                time: '2017-09-16'
            }, {
                href: '#',
                img: './image/1620093681.jpg',
                title: '智种网发布：中国种业研发实力报告，科研投入过亿企业仅有5家',
                time: '2017-09-16'
            }, {
                href: '#',
                img: './image/1620093681.jpg',
                title: '智种网发布：中国种业研发实力报告，科研投入过亿企业仅有5家',
                time: '2017-09-16'
            }, {
                href: '#',
                img: './image/1620093681.jpg',
                title: '智种网发布：中国种业研发实力报告，科研投入过亿企业仅有5家',
                time: '2017-09-16'
            }, {
                href: '#',
                img: './image/1620093681.jpg',
                title: '智种网发布：中国种业研发实力报告，科研投入过亿企业仅有5家',
                time: '2017-09-16'
            }, ],
            currentPage: 3,
            list: [{
                title: '越南皇帝蕉，大量供应！',
                prices: 18.5,
                expirationDate: '2019-12-01',
                unit: '箱',
                time: '2019-03-15',
                company: '融安县正果生态农林工作站',
                kewords: '金柑苗,脆蜜金柑,脆蜜金柑苗,金柑',
                url: '',
                volume: 888,
                area: '合肥市'
            }, {
                title: '越南皇帝蕉，大量供应！',
                prices: 18.5,
                expirationDate: '2019-12-01',
                unit: '箱',
                time: '2019-03-15',
                company: '融安县正果生态农林工作站',
                kewords: '金柑苗,脆蜜金柑,脆蜜金柑苗,金柑',
                url: '',
                volume: 888,
                area: '合肥市'
            }, {
                title: '越南皇帝蕉，大量供应！',
                prices: 18.5,
                expirationDate: '2019-12-01',
                unit: '箱',
                time: '2019-03-15',
                company: '融安县正果生态农林工作站',
                kewords: '金柑苗,脆蜜金柑,脆蜜金柑苗,金柑',
                url: '',
                volume: 888,
                area: '合肥市'
            }]
        },
        methods: {
            menuClick: function(type, id) {
                if (type == 1) {
                    this.firstActive = id;
                } else if (type == 2) {
                    this.secendActive = id;
                } else {
                    this.threeActive = id;
                }
            },
            searchClick: function() {

            },
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
            },
            shoucang: function(sTitle, sURL) {
                try {
                    window.external.addFavorite(sURL, sTitle);
                } catch (e) {
                    try {
                        window.sidebar.addPanel(sTitle, sURL, "");
                    } catch (e) {
                        alert("加入收藏失败，请使用Ctrl+D进行添加");
                    }
                }
            },
            onSubmit: function() {

            }
        },
        mounted: function() {

        }
    });
</script>

</html>