  
  .c-expertMain{
      padding-top: 20px;
      height: 260px;
  }
  .c-expert,.c-seccion1,.c-plantAndpets{
    width: 960px;
    margin: 0 auto 10px;
    background: #fff;
}
.c-expert,.c-plantAndpets{
    border: 1px solid #ddd;
}
.c-plantAndpets{
    padding-bottom: 30px;
}

.c-plantAndpets .c-pMain .noData{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.c-seccion1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0);
    margin-top: 10px;
}
.c-form{
    padding: 10px 20px; 
}
.c-siteItem {
    margin-bottom: 20px;
}
.c-siteItem span{
    color: #666;
    font-weight: 900;
}
.c-siteItem label{
    color: #666;
    font-size: 15px;
}
.c-zhengzhuang{
    width: 200px;
    margin: 5px 0 0 60px;

    /* add by liulei */
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #999;
}
.c-sitem{
    width: 49%;
    height: 280px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}
.c-sitemBcTitle{
    width: 100%;
    padding: 5px 0;
}
.c-sitemTitle{
    text-align: left;
    width: 94%;
    margin:  0 auto;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    color: #f88e06;
    border-bottom: 1px solid #ddd;
}
.c-issue1-info,.c-issue3-info{
    width: 94%;
    margin: 0 auto;
    text-align: left; 
    font-size: 14px;
    padding: 10px 0; 
    height: 220px;
    overflow: hidden;
}
.c-issue1-info li,.c-issue3-info li{
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
}
.c-issue1-info li a,.c-issue3-info li a{
    color: #666;
    padding-left: 8px;
}
.c-issue1-info li:hover a,.c-issue3-info li:hover a{
    color: #3b9c0a;
}
.c-issue1-info li span,.c-issue3-info li span{
    display: block;
    height: 100%;
    width: auto;
    float: right;
    color: #666;
    font-size: 14px;
}
.el-form-item__label{
    width: 60px!important;
}
.el-form-item{
    margin-bottom: 0;
}
.el-checkbox{
    margin-right: 5px;
}
.el-input{
    width: 90%;
}
.el-button{
    margin: 10px auto;
}
.swiper-container{
    width: 94%;
    /* height: 300px; */
    margin: 20px auto;
}
.c-eimg{
    display: block;
    width: 114px;
    height: 114px;
    margin: 0 auto;
    border-radius: 50%;
}
.c-ename{
    font-size: 18px;
    color: #555555;
    text-align: center;
    margin-bottom: 8px;
}
.c-eposition{
    font-size: 14px;
    color: #989898;
    min-height: 20px;
    text-align: center;
    margin-bottom: 8px;
}
.c-ebumber{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    width: 100px;
    height: 25px;
    background-color: #72acf3;
    border-radius: 12px;
    margin: 0 auto;
    line-height: 25px;
}
.c-elocation{
    font-size: 14px;
    color: #555555;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.c-eskill{
    font-size: 14px;
    color: #555555;
    text-align: center;
    padding-bottom: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.c-pMain{
    width: 97%;
    background: #fff;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
}
.c-pBox{
    margin-right: 2px;
    margin-top: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.c-pBox:hover .c-pname a{
   color: #f88e06;
}

.c-pimg{
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    overflow: hidden;
}
.c-pname{
    padding: 5px;
    text-align: center;
    
}
.c-pname a{
    color: #888;
    font-size: 14px;
    text-align: center;
}
.ad-1{
    width: 960px;
    margin: 0 auto;
}
.ad-1 img{
    width: 100%;
}
.c-link{
    width: 960px;
    margin: 10px auto 20px;
    background: #25ac5d;
    padding-bottom: 20px;
}
.c-linkmedia,.c-linkTo,.c-linkCompain{
    padding: 20px 20px 0;
    overflow: hidden;
}
.c-linkTitle{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}
.c-linkmedia a,.c-linkTo a,.c-linkCompain a{
    float: left;
    color: #fff;
    margin-left: 15px;
    line-height: 26px;
    font-size: 12px;
}
.goTop{
    width: 84px;
    height: 84px;
    position: fixed;
    bottom: 20px;
    right: -15px;
}



.dislib-content{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
}

