<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>黄山现代农业示范区专家咨询知识库平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" type="text/css" media="screen" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/swiper.min.css">
    <link rel="stylesheet" href="element-ui/index.css">
    <link rel="stylesheet" href="search/search.css">
    <script src="./element-ui/vue.min.js"></script>
    <script src="./element-ui/index.js"></script>
    <script src="public/js/swiper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="public/js/main.js"></script>
    <!-- add by liulei -->
    <script src="public/js/public.js"></script>
</head>
<body>
    <div id="root">
        <div class="index">
            <div class="header">
                <div class="header-container h-main">
                    <div class="h-map">
                        <!-- <a href="#" class="h-mappic">网站地图</a> -->
                        <!-- <a href="#" class="h-phone">手机APP</a>  -->
                    </div>
                    <div class="h-register" v-if="isLogin">
                            <a href="#" class="h-welcom">你好，欢迎访问本网站！</a>
                            <a href="./personal.html" v-if="userType ==4 ">会员中心</a>
                            <a href="./personal_expert.html" v-if="userType ==3 ">专家中心</a>
                        </div>
                        <div class="h-register" v-else>
                                <a href="#" class="h-welcom">你好，欢迎访问本网站！</a>
                                <a href="./login.html">登录</a> | <a href="./register.html">注册</a>
                        </div>
                </div>           
            </div>
            <!-- <div class="headerElse" style="display:none">
                <div class="headerEinside">
                <a href="#" id="hElogo"><img src="public/image/logo-2.png"></a>
                <form action="">
                    <div class="hEsearch">
                    <i class="hE-icon"></i>
                    <input class="hE-text" type="text" v-model="keyWords">
                    <button class="hE-search"  @click="onSearch">搜索</button>
                    </div>
                </form>
                <a v-if="isLogin" href="./personal.html?epId=0" id="hEbutton">立即提问</a>
                <a v-else href="./login.html" id="hEbutton">立即提问</a>
                </div>
            </div> -->
            <div class="header-main">
                <div  class="h-mainContainer h-serrchMain">
                <div  class="h-logo">
                    <img src="public/image/logo-2.png">
                </div>
                <div class="search-bar">
                    <el-tabs type="card" v-model="SearchName" @tab-click="searchClick" >
                        <el-tab-pane label="预警" name="预警"></el-tab-pane>
                        <el-tab-pane label="防治" name="防治"></el-tab-pane>
                        <el-tab-pane label="病虫害" name="病虫害"></el-tab-pane>
                        <el-tab-pane label="知识库" name="知识库"></el-tab-pane>
                        <el-tab-pane label="专家" name="专家"></el-tab-pane>
                    </el-tabs>
                    <div class="h-search">
                            <!-- @tab-click="searchClick"  v-model="SearchName"-->
                            
                    <i class="el-icon-search h-searchIco"></i>
                    <input type="text" class="h-searchText" v-model="keyWords" :placeholder="'请输入关键词搜索'+SearchName+'信息'"> 
                    <button class="h-searchBtn"  @click="onSearch">搜索</button>
                    </div>
                </div>
                <div  class="h-qrcode">
                    <img src="public/image/qrcode.png">
                </div>
                <!-- <div class="h-msg" >
                    <a v-if="!isLogin" href="./login.html" class="h-message">立即提问</a>
                    <a v-else-if="isLogin && userType==4" href="./personal.html?epId=0" class="h-message">立即提问</a>
                </div> -->
            </div>
                <div class="h-menu h-mainContainer">
                <ul class="h-menuMain">
                    <li class="active"><a href="./index.html">首页</a></li>
                    <li><a href="./zhuanjia.html">专家库</a></li>
                    <li><a href="./online.html">在线问答</a></li>
                    <li><a href="./knowloge.html" >农业知识库</a></li>
                    <li><a href="./video.html">视频培训</a></li>
                    <!-- <a href="#" class="h-ask">我要提问</a> -->
                </ul>
                </div>
            </div>
        </div>      
        <div>
            <div class="c-seccion1">
                <div class="c-issue1 c-sitem">
                    <div class="c-sitemBcTitle">
                        <div class="c-sitemTitle">病虫害预警</div>
                        <ul class="c-issue1-info">
                            <li v-for="item in alarmList">
                                <i class="glyphicon glyphicon-grain"></i>
                                <a :href="'./alarm_detail.html?identifier=' + item.id" target="_blank">{{item.title}}</a>
                                <span>{{item.createTime | formatDate}}</span>
                            </li>
                        </ul>
                    </div>    
                </div>
                <!-- <div class="c-issue2 c-sitem">
                    <div class="c-sitemBcTitle"><div class="c-sitemTitle">快速诊断</div></div>
                    <div class="c-form">
                        <form action="" id="">
                            <div class="c-siteType c-siteItem">    
                                <span>类别： </span>
                                <template v-for="item in vegetations" >
                                    <input type="radio" :key="item.id" :id="item.id" name="1"><label :for="item.id">{{item.name}}</label>
                                </template>
                            </div>                 
                            <div class="c-siteType c-siteItem">    
                                <span>部位： </span>
                                <template v-for="item in bodys" >
                                    <input type="checkbox"  :id="item.id"><label :for="item.id">{{item.name}}</label>
                                </template>
                                
                               
                            </div>
                            <div class="c-siteType c-siteItem">    
                                <span>症状： </span>
                                <template v-for="item in symptoms" >
                                    <input type="checkbox" :id="item.id"><label :for="item.id">{{item.name}}</label>
                                </template>
                                 <input type="checkbox"  id="11"><label for="11">变色</label>
                                <input type="checkbox"  id="12"><label for="12">坏死</label>
                                <input type="checkbox"  id="13"><label for="13">腐烂</label>
                                <input type="checkbox"  id="14"><label for="14">萎蔫</label>
                                <input type="checkbox"  id="15"><label for="15">畸形</label> 
                                <input type="text" placeholder="其他症状" id="" class="c-zhengzhuang">
                            </div>
                            <div class="c-siteType c-siteItem">
                                <span>名称：</sapn><input type="text" placeholder="疾病名称" name="" id="" style="width:200px;margin:0 11px 0 13px;     padding: 5px;
                                    border-radius: 3px;
                                    border: 1px solid #999;">
                                <button type="submit">查询</button>         
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="c-issue3 c-sitem">
                    <div class="c-sitemBcTitle"><div class="c-sitemTitle">病虫害防治</div></div>       
                    <ul class="c-issue3-info">
                        <li v-for="item in cureList">
                            <i class="glyphicon glyphicon-grain"></i>
                            <a :href="'./cure_detail.html?identifier=' + item.id" target="_blank">{{item.title}}</a>
                            <span>{{item.createTime | formatDate}}</span>
                        </li>
                    </ul>               
                </div>
            </div>  
            
            <div class="c-plantAndpets">
                <div class="titlemsg">病虫害大全</div>
                <div class="c-pMain">
                    <el-form ref="form" :model="form" label-width="60px!important" style="width:100%;margin-top:20px; border: 1px solid #ddd;padding: 10px; position: relative;">
                        <el-form-item label="类别 ：" style="margin-bottom: 10px;">
                            <el-radio-group v-model="form.vegetation" >
                                <el-radio @change="changeVegetation" v-for="item in vegetations" :label="item.id">{{item.name}}</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="部位 ：" style="margin-bottom: 0;">
                            <!-- <el-checkbox-group v-model="form.body">
                                <el-checkbox  v-model="body" @change="changeBody" v-for="item in bodys" :label="item.id" name="type">{{item.name}}</el-checkbox>
                            </el-checkbox-group> -->
                            <el-radio-group v-model="form.body">
                                <el-radio  @change="changeBody" v-for="item in bodys" :label="item.id" name="type">{{item.name}}</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="症状 ：" style="margin-bottom: 0;">
                            <el-radio-group v-model="form.symptom">
                                <el-radio  @change="changeSymptom" v-for="item in symptoms" :label="item.id" name="desc">{{item.name}}</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item style="position:absolute;bottom:0px;right:20px;">
                            <el-button type="primary" @click="onSearchDislib">查询</el-button>
                            <el-button @click="onClearDislib" >取消</el-button>
                        </el-form-item>
                    </el-form>
                    <div class="dislib-content" v-if="diseasesList.length > 0" >
                        <div class="c-pBox" v-for="item in diseasesList">
                            <a :href="'./diseaseslib_detail.html?identifier=' + item.id" target="_blank"><img :src= "baseUrl + item.imageUrl" :title="item.name" class="c-pimg"/></a>
                            <div class="c-pname">
                                <a :href="'./diseaseslib_detail.html?identifier=' + item.id" target="_blank">{{item.name}}</a>
                            </div>        
                        </div>     
                    </div>
                    <div class="noData" v-else>
                        <img src="public/image/nodata.png" width="150"/>
                        <p>暂无数据</p>
                    </div>                     
                </div>
            </div>  
            <div class="c-expert">
                    <div class="titlemsg">推荐专家</div>
                    <div class="c-expertMain">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="item in expertList">
                                    <img v-if="item.headPortrait && item.headPortrait.length>0" :src= "baseUrl + item.headPortrait" :title="item.name" class="c-eimg"/>
                                    <img v-else src= "public/image/doctor_hds.jpg" :title="item.name" class="c-eimg"/>
                                    
                                    <div class="c-ename">{{item.name}}</div>
                                    <div class="c-eposition">{{item.introduce}}</div>
                                    <div v-if="userType != 3" style="text-align:center" @click="onAsk(item.id, item.name)">
                                        <el-button type="primary">提问</el-button>
                                    </div>
                                    <!-- <div class="c-ebumber">满意度：100%</div> -->
                                    <!-- <div class="c-elocation">长丰县农技中心</div> -->
                                    <!-- <div class="c-eskill">擅长：玉米、小麦、高粱</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  


                <div class="c-seccion1">
                        <div class="c-issue1 c-sitem">
                            <div class="c-sitemBcTitle">
                                <div class="c-sitemTitle">最新问答</div>
                                <ul class="c-issue1-info">
                                    <li v-for="item in questionList">
                                        <a :href="'./answer.html?identifier=' + item.id" target="_blank">{{item.title}}</a>
                                        <span>{{item.createTime | formatDate}}</span>
                                    </li>
                                </ul>
                            </div>    
                        </div>

                        <div class="c-issue3 c-sitem">
                            <div class="c-sitemBcTitle"><div class="c-sitemTitle">最新知识库</div></div>       
                            <ul class="c-issue3-info">
                                <li v-for="item in kgList">
                                    <a :href="'./kg_detail.html?identifier=' + item.id" target="_blank">{{item.title}}</a>
                                    <span>{{item.createTime | formatDate}}</span>
                                </li>
                            </ul>               
                        </div>
                    </div>  
            <div class="ad-1">
            </div>
           
            <div class="goTop"><img src="public/image/TOP.png"></div>
            <div class="footer">
                <div class="f-info">
                    <p></p>
                    <span>Copyright © 2019 黄山现代农业产业园管委会 版权所有</span>
                    <p></p>
                </div>
            </div>
        </div> 
    </div>  
</body>
<script>
    // var index = new Vue({
    //     el: "#root",
    //     data(){
    //         return {
    //             form: {
    //                 name: '',
    //                 region: '',
    //                 date1: '',
    //                 date2: '',
    //                 delivery: false,
    //                 type: [],
    //                 resource: '',
    //                 desc: ''
    //             },
    //             isLogin: true,
    //             userType:'4',
    //             alarmList:{},
    //             vegetations:{},
    //             bodys:{},
    //             symptoms:{},
    //             cureList:{},
    //             expertList:{},
    //             diseasesList:{},
                
    //         }
    //     },
    //     methods: {
    //         onSubmit:function() {
    //             console.log('submit!');
    //         }
    //     }
    // })
</script>

<script src="./index/index.js"></script>
</html>